@font-face {
    font-family: "DM Sans";
    font-weight: 400 500;
    src: url("/assets/fonts/DMSans-VariableFont_opsz\,wght.ttf")
}

@font-face {
    font-family: "DM Sans";
    font-style: italic;
    font-weight: 400 500;
    src: url(/assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf);
}

:root {
    --primary-subdued: hsl(254, 88%, 90%);
    --primary-base: hsl(256, 67%, 59%);
    --accent-subdued: hsl(31, 66%, 93%);
    --accent-base: hsl(39, 100%, 71%);
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 96%);
    --black: hsl(0, 0%, 7%);

    --fs-reg: 1.35rem;
    --fs-md: 2rem;
    --fs-lg: 3rem;
    --fs-xl: 4rem;
}

@layer reset {
    *, 
    *::before, 
    *::after {
        box-sizing: border-box;
    }

    h1, 
    h2, 
    h3, 
    h4, 
    h5, 
    h6, 
    p, 
    ul, 
    ol, 
    figure {
        margin: 0;
    }

    h1, 
    h2, 
    h3, 
    h4, 
    h5, 
    h6 {
        font-weight: 500;
    }

    img {
        max-width: 100%;
        display: block;
    }
}

@layer base {
    html {
        font-family: "DM Sans", sans-serif;
        line-height: 1.5;
    }

    body {
        margin: 32px;
        color: var(--black);
        font-size: var(--fs-reg);
        background: var(--off-white);
    }

    h1 {
        color: var(--heading-color, inherit);
        font-size: var(--heading-font-size, var(--fs-lg));
        line-height: 1.0;
        text-wrap: balance;

        span {
            color: var(--heading-span-color, var(--black));
        }
    }

    h2 {
        color: var(--heading-color, inherit);
        font-size: var(--heading-font-size, var(--fs-md));
        line-height: 1.0;
        text-wrap: balance;

        span {
            color: var(--heading-span-color, var(--black));
        }
    }

    p {
        color: var(--heading-color, inherit);
        font-size: var(--paragraph-font-size, var(--fs-reg));
        line-height: 1.0;
    }
}

@layer layout {
    .bento-grid {
        display: grid;
        gap: 24px;
    }

    .bento-grid >* {
        color: var(--bento-card-text-color, var(--black));
        background-color: var(--bento-card-surface, var(--white));
        padding: var(--bento-card-padding, 32px);
        border-radius: var(--bento-card-border-radius, 15px);

        display: grid;
        gap: var(--bento-card-gap, 32px);
        align-content: var(--bento-card-vertical-alignment, start);
        justify-items: var(--bento-card-horizontal-alignment, start);
        text-align: var(--bento-card-horizontal-alignment, start);
    }

    .bento-grid img {
        max-width: var(--bento-card-image-width, 100%);
        width: var(--bento-card-image-width, 100%);
        order: var(--bento-card-image-order);
    }

    .bento-grid> :nth-child(1) {
        --heading-font-size: var(--fs-xl);
        --heading-span-color: var(--accent-base);
        --bento-card-text-color: var(--white);
        --bento-card-surface: var(--primary-base);
        --bento-card-padding: 50px;
        --bento-card-horizontal-alignment: center;
        --bento-card-image-width: 65%;
        --bento-card-gap: 15px;
    }

    .bento-grid> :nth-child(2) {
        
        /* fixing shadow issue in asset */
        >img {
            filter: drop-shadow(0 0 1rem hsl(0 0 0/ 0.25))
        }
    }
}

@layer utilities {
    .visually-first {
        order: -1
    }
}